<h3>Dodaj nowy produkt</h3>



 <%= form_for(@product) do |p| %>
   <%= p.label :name, 'Nazwa' %>
   <br/>
   <%= p.text_field :name, :placeholder => 'Podaj nazwę produktu' %>
   <hr>
   <%= p.submit "Przejdź do następnego kroku" %>
   <br/><br/><br/><br/>
<% end %>

