<!DOCTYPE html>
<html>
  <head>
    <title>FloralWorld</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <style>
    body{
      margin: 20px;
    }
    .card-img-top{
      width: 100%;
    }
    .card-img-bottom{
      width: 500px;
      align-self:  center;
    }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
