 body{
  margin: 20px;
}
.index-btns{
  display: inline;
}


.is-it-public{
  border: 3px solid LightSeaGreen;
  margin: 10px;
  border-radius: 4px;
}
.check-king{
  background: LightSeaGreen;
}

.VIP{
  color: LightSeaGreen;
  font-size: 120%;
  font-weight: bold;
  font-style: normal;
}
.conf-box{
  margin: auto;
    width: 50%;
    border: 3px solid LightSeaGreen;
    padding: 10px;
    border-radius: 4px;
}

.jumbotron{
  background-color: LightSeaGreen;
  color: White;
}
.title{
  color: White;
}

.card-img-top{
  width: 100%;
}
.text-muted{
  color: LightSeaGreen;
}
.card-img-bottom{
  width: 500px;
  align-self:  center;
}
hr {
  border-width: 3px;
  border-color: LightSeaGreen;
}
.footy{
  color: LightSeaGreen;
  padding: 10px;
  border-style: solid;
  border-radius: 3px;
  text-align: center;
  border-width: 2px;
}


.btn-primary, .btn-success{
  background-color: LightSeaGreen ;
  border-width: 3px;
  border-color: White;
}
.btn-primary:hover, .btn-success:hover{
  background-color: White;
  border-color: LightSeaGreen;
  color: LightSeaGreen;
  border-width: 3px;
}

h3, h1, h2, h3, h4, h5, h6 {
  color: LightSeaGreen;
}

a {
  color: LightSeaGreen;
}
a:hover{
  color: #14716c;
}
.card {
  border-width: 2px;
  border-color: LightSeaGreen;
  margin-top: 10px;
  margin-bottom: 10px;
}
.simple-block {
  display: block;
}
